body {
    background-color: #2596be;
    overflow-x: hidden;
}
* {
    font-family: 'Jost',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
a {
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    color: #2596be;
    text-decoration:none;
}

.bar {
    display: flex;
    background-color: #e9f5f9;
    
}
.navbar {
    margin-top: 20px;
    margin-right: 100px;
    padding: 5px;
    text-align: end;
    width: 100%;
}
#logomarca {
    width: 100%;
    display: flex;
    justify-content: center;
       
}
#logo {
    width:auto; 
    height: 250px;
    margin-top: 10px;
    margin-left: 10px;
    transition: all ease-in-out;
    animation: rotate 6s linear infinite;
}


#show {
    min-height: 95vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(-360deg,#2596be,#e9f5f9);
    
    
}

.show {
    
    width:fit-content;
    color: #2596be;
    
    
}

.showname {
    text-align: center;
    margin: 10px;
    width: 100%;
    height: 100%;
    
    
}

#name {
    font-size: 150px;
    color: transparent;
    animation: text_show 0.4s ease-in forwards;
    animation-delay: 1s; 
    text-align: center; 
    display: flex; 
    justify-content: center;
}
#subname {
    font-size: 50px; 
    color: transparent; 
    animation: text_show 0.8s ease-in forwards;
    animation-delay: 1.5s;  
    display: flex;
    justify-content: center; 
}

/*Quem somos*/
#quemsomos {
    background-image: url(img/pexels-max-vakhtbovych-6794967.jpg);
    background-size: cover;
    background-position: top-center;
    position: relative;
    z-index: 1;
}

#quemsomos::after{
    content:'';
    position: absolute;
    left: 0;
    top:0;
    height:100%;
    width:100%;
    background-color:#0b2d39;
    opacity: 0.3;
    z-index: -1;
}    
.quemsomos {
    padding: 50px;
    background-color: #0b2d39;
    width: 500px;
    

    
    

}

.title {
    font-size: 80px;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 2px #0f3c4c;
    
}
.text {
    font-size: 20px;
    color:#fff;
    text-shadow: 1px 1px 2px #0f3c4c;
}

.title, .text {
    margin: 50px;
}


/*services*/

   
#services .services {
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: auto;
    display:flex;
    width: cover;  
    background-color: #2596be;    

}
#services .services-header h1{
    margin-bottom: 50px;

}
#services .all-services {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#services .services-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    margin:auto;
    
    border-radius:25px;
    

}
#services .services-info, .services-ib {
    padding: 30px;
    flex-basis:50%; /*maximo de flex*/
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:column;
    background-image: linear-gradient(15deg,#071e26,#1a6985);
    color: #fff;
    border-radius: 25px;
}
.services-ib {
    align-items: flex-end;
}
#services .services-info, .services-ib, h1{
    font-size:4rem;
    font-weight:500px;
    text-align: start;

}
#services .services-info, .services-ib, h2{
    font-size:1.8rem;
    font-weight: 500;
    margin: 0;
    
    

}

   


#services .services-img {
    flex-basis:50%;
    height: 400px;
    overflow:hidden;
    position:relative;
    border-radius: 25px;
    

    
}
.services-info, .services-ib {
    position: relative;
}

.services-info {
    left: 500px;
    box-shadow: 0 3px 10px #071e26
    
}

.services-ib{
    right:500px;
    box-shadow: 0 3px 10px #071e26;
    
    
}

.services-ib:hover {
    transform: translateX(500px);
}
.services-info:hover {
    transform: translateX(-500px);

}



/* #services .services-img:after {
    content:'';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: linear-gradient(60deg,#29323c 0%,#485563 100%);
    opacity: 0.5;
}*/
#services .services-img, .services-info, .services-ib{
    transition: 2s ease-in-out transform; 
}

#services .services-item:hover {
    transform: scale(1);
   
}
.imgservices{
    width: 100%;
    height: 100%;
   
}

/*Portfolio*/
#portfolio {
    background-color:#2596be;
    
}
#portfolio .clients {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}
.clients{
    display: inline-flex;
    position: relative;
    left: 36px;
    
    
}
 .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    max-width: 400px;
    height: auto;
    width: 350px;    
    background-color: #fff;
    color: #071e26;
    border-radius: 25px;
    box-shadow: 0 3px 10px #071e26 ;
    padding: 20px;
   

}
.logo{
    border: solid #071e26;
    border-radius: 50%;
}

#portfolio .card:hover {
    transform: translateY(-15px);

}

/*footer*/


#contato {
     
    width: 100%;
    position: absolute;
        
    
    
}
.contato {
    
    position:absolute;
    top: 200px;
    width: 100%;
    height: 95vh;
    
    
}

.imgfooter {
    position: relative;
    left: 1000px;
    bottom: 450px;
    width: 50%;
    max-width: 80%;
    height: auto;
    transition: all ease-in-out;
    animation: rotate 200s linear infinite;
    opacity: 0.8;
   
    z-index: -1;
}
form {
    margin-top: 20px;
    margin-left: 10px;
    
}
.form-control input[type='text'],
.form-control input[type='email'],
textarea {
    border: 0;
    border-bottom: 5px solid #e9f5f9;
    width: 50%;
    padding: 3px;
    font-size: 20px;
    background-color: transparent;
    color: #e9f5f9;
    margin: 5px;
}
.form-control input:focus, textarea:focus  {
    outline:none;
            
}
.form-control input::placeholder,
textarea::placeholder {
    color: #fff;
}

.btn{
    border-radius: 25px;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 3px 10px #071e26 ;
    transition: transform 0.2s ease-in;
}

.btn:hover {
    transform: translateY(-2px);


}
.tel {
    
    
    height: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;    
    color: #e9f5f9;
    
}

.tel h3, h2{
    margin-bottom: 10px;
}
.social {
    width: 75px;
    color: #fff;
    padding: 10px;
  

}

/*Keyframes*/

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes text_show {
    30%{
        color:#51abcb; 
    }
    
    
    60%{
        color:#3ba1c5;
    }

    100% {
        color: #1e7898;
    }
}
/*Media*/
@media only screen and (min-width:768px) {
    #services .services-item{
        flex-direction: row;
        height: 400px;
        margin:0;
        width: 100%;
        border-radius: 0;
    }
    #services  .all-projects, .services-info, .services-ib {
        height: 100%;
    }
    #services .all-projects, .services-img, .services-ib {
        width: 100%;
    }
    #services .services-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    
}
@media only screen and (max-width:992px) {
    .imgfooter, .imgservices {
        display: none;
    }
    .services-info, .services-ib {
        left: 0;
        right: 0;
        width: 95%;
    }
    .contato {
        display: block;
        width: 98%;
        margin-top:0;
    }
    .form-control input[type='text'],
    .form-control input[type='email'],
    textarea { 
        width: 100%;
    }
    .services-ib:hover {
        transform: translateY(5px);
    }
    .services-info:hover {
        transform: translateY(-5px);
    
    }
    #name{
        font-size: 100px;
    }
    .title {
        width: auto;
        font-size: 42px;
       

    }
    .quemsomos{
       width: auto;
       padding: 5px;
    }
    .clients {
        left: 0;
    }
    .social {
       width: 50px;
       padding: 0;    
    }
   
   
   
}
